/* TODO fix text size when images and text are side by side */

.entry {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  flex-basis: 80%;
}

.text {
  font-size: 1.1em;
}
