/* TODO remove */
* {
  outline: 1px dotted red;
}

/* TODO style clickable images */

body
  font-family: "Lucida Console", Monaco, monospace;
}

/* Grids and Flexboxen */
.container {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 10fr 1fr;
  grid-template-rows: 80px auto 80px;
  grid-template-areas:
  "nav header sidebar"
  "nav content sidebar"
  "nav footer sidebar";
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.flexbox-nav {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flexbox-footer {
  display: flex;
  width: 100%
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: bottom;
}

/* Positioning tweaks */
.copyleft {
  flex-align: center;
  align-self: center;
}

/* Decoration */

em {
  font-size: 1.1em;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
}

strong {
  font-size: 2em;
  Font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
}
